$theme-colour: #f38130;
$header-height: 100px;
$header-padding: 20px;
$footer-height: 45px;
$top-gradient-height: 25px;
$bottom-gradient-height: 8px;
$media-break-point: 480px;
$mobile-landscape-break: 420px;
