* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  transition: all 0.3s;
  &:hover {
    color: #fff;
  }
}

section.app {
  width: 100vw;
  height: 100vh;
  background-color: black;

  @import "./containers/layout";
  @import "./components/carousel";
  @import "./components/contact";
}
