@import "./config";

@mixin triangle-right($size) {
  width: 0;
  height: 0;
  border-top: ($size / 2) solid transparent;
  border-left: $size solid $theme-colour;
  border-bottom: ($size / 2) solid transparent;
  transition: opacity .25s;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}

@mixin triangle-left($size) {
  width: 0;
  height: 0;
  border-top: ($size / 2) solid transparent;
  border-right: $size solid $theme-colour;
  border-bottom: ($size / 2) solid transparent;
  transition: opacity .25s;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}

@mixin triangle-up($size) {
  width: 0;
  height: 0;
  border-left: ($size / 2) solid transparent;
  border-right: ($size / 2) solid transparent;
  border-bottom: $size solid $theme-colour;
  transition: opacity .25s;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}

@mixin triangle-down($size) {
  width: 0;
  height: 0;
  border-left: ($size / 2) solid transparent;
  border-right: ($size / 2) solid transparent;
  border-top: $size solid $theme-colour;
  transition: opacity .25s;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}
